@section scripts {
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chat.js"></script>
    <script>
		/* Chat Bottom */

		/* Chat Sidebar */

		/* Chat Header */
		$('#chat-header-return').click(() => {
			ChatSystem.ToggleSideBar();
		})
    </script>
}
<link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div id="chat-page">
	<div id="chat-header">
		<button class="btn" id="chat-header-return">
			<i style="color:#eee" class="fa-solid fa-bars fa-2xl"></i>
		</button>
		<div id="chat-header-title">
			<!-- current channel name -->
		</div>
		<button class="btn" id="chat-header-xxx">
			<!-- data -->
		</button>
	</div>
	<div id="chat-sidebar">
		<div>
			<div id="chat-sidebar-channels">
				<h2>menu</h2>
				<a href="#" id="chat-create-channel" class="nav-link">
					<div>
						<i class="fa-solid fa-plus" style="color: #DFD;"></i>
						<p>New Channel</p>
					</div>
				</a>
				<hr />
				<ul id="chat-insert-channels-here"></ul>
			</div>
			<div id="chat-sidebar-options">
				<hr />
				<ul>
					<li>
						<a class="nav-link text-white" asp-controller="Home" asp-action="Index">
							<div>
								<i class="fa-solid fa-house" style="color: #eee;"></i>
								<p>Home</p>
							</div>
						</a>
					</li>
					<li>
						<a class="nav-link text-white" asp-controller="Home" asp-action="Privacy">
							<div>
								<i class="fa-solid fa-book" style="color: #eee;"></i>
								<p>GDPR</p>
							</div>
						</a>
					</li>
					<li>
						<a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index">
							<div>
								<i class="fa-solid fa-user" style="color: #eee;"></i>
								<p>Account</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="chat-history"></div>
	<div id="chat-bottom">
		<input id="chat-text-input" type="text" placeholder="Send a message..." />
		<button id="chat-text-send" class="btn btn-primary"><i class="fa-regular fa-paper-plane"></i></button>
	</div>
	<div id="phone-context-menu-bg"></div>
	<div id="phone-context-menu">
		<ul>
			<li>
				<a href="#" id="delete-message" class="nav-link text-white">
					Delete
				</a>
			</li>
			<li>
				<a href="#" id="copy-channel-id" class="nav-link text-white">
					Copy Channel ID
				</a>
			</li>
			<li>
				<a href="#" id="copy-message-id" class="nav-link text-white">
					Copy Message ID
				</a>
			</li>
			<li>
				<a href="#" id="copy-user-id" class="nav-link text-white">
					Copy User ID
				</a>
			</li>
		</ul>
	</div>
</div>

<template id="chat-msg">
	<div id="main">
		<div>
			<b id="user"></b>
			<p id="content"></p>
		</div>
		<div>
			<i id="timestamp"></i>
			<button id="view-options">
				<i class="fa-solid fa-ellipsis-vertical"></i>
			</button>
		</div>
	</div>
	<style>
		#main {
			display: flex;
			justify-content: space-between;
		}

		#user {
			text-transform: uppercase;
			font-size: x-small;
		}

		#content {
			margin-top: 0;
		}

		#timestamp {
			color: #444;
		}

		#view-options {
			display: none;
		}

		@@media (min-width: 768px) {
			#main:hover #view-options i {
				color: #eee;
			}
		
			#view-options {
				background-color: transparent;
				color: transparent;

				display: initial;

				border: none;
				outline: none;

				width: 16px;
			}

			#view-options:hover {
				cursor: pointer;
			}
		}
		</style>
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</template>
<template id="chat-channel">
	<li>
		<a id="channel-link" href="#" style="text-decoration-line:none;color:#eee;">
			<p id="channel-name" style="text-align:center;word-wrap:break-word;"></p>
		</a>
	</li>
</template>"
