<div id="profile-info">
    <div id="picture">
        <div></div>
    </div>
    <h2>Maarten van Keulen</h2>
    <table>
        <tr>
            <th>School</th>
            <td>Windesheim Zwolle</td>
        </tr>
        <tr>
            <th>Studie</th>
            <td>HBO-ICT 2e jaar</td>
        </tr>
        <tr>
            <th>Woonplaats</th>
            <td>Zwolle</td>
        </tr>
        <tr>
            <th>Telefoon</th>
            <td><a href="tel:+310617842143">+31 06 1784 2143</a></td>
        </tr>
    </table>
    <div id="about-me">
        <b>Over mij</b>
        <p>
            Hoi! Ik ben Maarten. Ik ben 18 jaar oud en studeer op het Windesheim te Zwolle.
            Mijn hobbies zijn: Programmeren, talen, luchtverkeerregeling, en treinen.
        </p>
    </div>
    <div id="skills">
        <b>Wat kan ik?</b>
        <ul>
            <li><i class="devicon-c-plain"></i></li>
            <li><i class="devicon-cplusplus-plain"></i></li>
            <li><i class="devicon-csharp-plain"></i></li>
            <li><i class="devicon-rust-plain"></i></li>
            <li><i class="devicon-python-plain"></i></li>
            <li><i class="devicon-lua-plain"></i></li>
            <li><i class="devicon-html5-plain"></i></li>
            <li><i class="devicon-php-plain"></i></li>
            <li><i class="devicon-javascript-plain"></i></li>
            <li><i class="devicon-typescript-plain"></i></li>
            <li><i class="devicon-angularjs-plain"></i></li>
            <li><i class="devicon-mysql-plain"></i></li>
            <li><i class="devicon-microsoftsqlserver-plain"></i></li>
            <li><i class="devicon-java-plain"></i></li>
            <li><i class="devicon-kotlin-plain"></i></li>
            <li><i class="devicon-git-plain"></i></li>
            <li><i class="devicon-ruby-plain"></i></li>
        </ul>
    </div>
    <form class="form-inline" asp-controller="Home" asp-action="Chat" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn btn-outline-primary">Join the chat</button>
    </form>
</div>
