@{
    ViewData["Title"] = "Home Page";
}

<div id="profile-info">
    <div id="picture">
        <div></div>
    </div>
    <h2>Maarten van Keulen</h2>
    <table>
        <tr>
            <th>School</th>
            <td>Windesheim Zwolle</td>
        </tr>
        <tr>
            <th>Studie</th>
            <td>HBO-ICT 2e jaar</td>
        </tr>
        <tr>
            <th>Woonplaats</th>
            <td>Zwolle</td>
        </tr>
        <tr>
            <th>Telefoon</th>
            <td><a href="tel:+310617842143">+31 06 1784 2143</a></td>
        </tr>
    </table>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>hello</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
